.fundo {
   background: var(--cor-fundo10);
   background: linear-gradient(90deg, var(--cor-fundo10) 0%, var(--cor-fundo20));
   height: 100vh;
   color: var(--cor-texto);
   font-family: var(--fonte-padrao);
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;   
 }

.h1{
   padding-bottom: 10px;
   font-family: var(--fonte-padrao);
   font-weight: 300;
}
 
 #resultado {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: end;
   width: 220px;
   height: 30px;
   margin: 5px;
   background-color: var(--cor-texto);
   color: var(--cor-dark);
   font-size: var(--tamanho-fonte);
   font-weight: 400;
   padding: 5px;
   box-shadow: inset -2px 2px 0px var(--cor-dark);
 }
 
 .calculadora {
   background-color: var(--cor-calculadora);
   height: fit-content;
   border-radius: 15px;
   padding: 15px;
   align-self: center;
   box-shadow: 0px 3px 3px var(--cor-dark);
}

 .botao {
   display: grid;
   justify-content: center;
   align-content: center;
   width: 50px;
   height: 50px;
   font-size: var(--tamanho-fonte);
   cursor: pointer;
   background-color: var(--cor-botao);
   color: var(--cor-texto);
   margin: 3px;
   border-radius: 5px;
 }

 .botao:hover {
   background-color: var(--cor-dark);
 }
 

 /* - adicionei variaveis
   - coloquei os resets em uma pasta so deles 
   - coloquei os style css em uma pasta so dela
   - coloquei o js em uma pasta
   - retirei o modo de centralização e no lugar coloquei o flex-box
   - mudei as cores: no fundo coloquei um gradient e mudei a cor da calculadora
   - adicionei sombra a calculadora
    */